---
import Layout from "../layouts/Layout.astro";
import ConnectWallet from '../components/ConnectWallet.astro';
import DropletWallet from '../components/DropletWallet.astro';
---

<script is:inline>var global = global || window;</script>
<Layout title={"Droplet Wallet"}>
	<main>
		<ConnectWallet />
		<DropletWallet />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
